<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perry's Board</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css">
    <style>
      .container {
        max-width: 60rem;
      }
      input {
        width: 100%;
        line-height: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Upload a Message</h3>
      <form action="/msgupload" method="POST">
          <label for="msg">Message:</label>
          <input type="text" name="msg">
        <button>Upload</button>
      </form>
    </div>
  </body>
</html>
